<h3>Chat</h3>
<div class="chat-messages">
<div ng-repeat="msg in msgs track by $index">
  <div class="row">
    <div class="col s12 m5">
      <div class="card-panel white">
        <span>{{msg.room}}: </span>
        <p>{{msg.msg}}</p>
      </div>
    </div>
  </div>
</div>
</div>
<form class="col s12" ng-submit="chat()">
  <div class="row">
    <div class="input-field col s6">
      <input type="text" ng-model="chatInput">
    </div>
  </div>
  <button class="btn waves-effect waves-light #01579b light-blue darken-4" type="submit" name="action">Send</button>
</form>
