<div class="chat-body">
  <h3>Chat</h3>
  <div ng-if="isLoggedIn">
    <ol>
      <li ng-repeat="chat in chats">
        <p class="right-align chat-notification">Chat request from {{chat.from}}</p>
      </li>
    </ol>
  </div>
  <div class="chat-messages">
    <div ng-repeat="msg in msgs track by $index">
      <div class="row">
        <div class="col s12 m5">
          <ul class="collection">
            <li class="collection-item avatar">
              <img src="../images/dummy_avatar.png" alt="" class="circle">
              <p>{{msg.username}}:
                <br> {{msg.msg}}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <form class="col s12" ng-submit="chat()">
    <div class="row">
      <div class="input-field col s6">
        <input type="text" ng-model="chatInput">
      </div>
    </div>
    <button class="btn waves-effect waves-light #01579b light-blue darken-4" type="submit" name="action">Send</button>
  </form>
</div>
